*{
margin:0;
padding:0;
}

.h
{
color:navy;
float:left;
padding-left:40px;
padding-right:40px;
}
.a
{
color:navy;
}
.p
{
color:navy;
float:left;
}
.pha
{
padding-left:470px;
padding-right:400px;
border-style:solid;
border-width:5px;
padding-bottom:20px;
padding-top:20px;
border-color:black;
background-color:palegoldenrod;
}
.pha h2:hover {
    color:red;
}
.pha h2:active{
    color:green;
}