*{
margin:0;
padding:0;
background-image:url(https://www.oem-eftermontering.se/wp-content/uploads/2013/01/white-wallpaper-18.png);
}

.h
{
color:navy;
float:left;
padding-left:40px;
padding-right:40px;
text-shadow:1px 0.5px black;
}
.a
{
color:navy;
}
.p
{
color:navy;
float:left;
}
.pha
{
padding-left:470px;
padding-right:400px;
border-style:solid;
border-width:5px;
padding-bottom:20px;
padding-top:20px;
border-color:black;
background-color:palegoldenrod;
}
.pha h2:hover {
    color:red;
}
.pha h2:active{
    color:green;
}
#original{
width:35%;
height:auto;
float:left;
border-style:solid;
border-color:black;
border-width:4px;
}
#hemtext
{
font-size:xx-large;
margin-top:100px;
border-style:solid;
border-color:black;
border-width:10px;
}
#our
{
text-align:center;
margin-top:20px;
}
.pro
{
font-size:x-large;
margin-top:20px;
margin-left:20px;
text-shadow:red 0.5px 1px;
}
.originaltwo
{
width:10%;
height:auto;
float:left;
border-style:solid;
border-color:black;
border-width:4px;
margin-left:20px;
}
#sco
{
font-size:x-large;
text-shadow:lime 0.5px 1px;
}
#pap
{
font-size:x-large;
text-shadow:orange 0.5px 1px;
}
#ket
{
font-size:x-large;
text-shadow:blue 0.5px 1px;
}
#che
{
font-size:x-large;
text-shadow:green 0.5px 1px;
}
#sal
{
font-size:x-large;
text-shadow:teal 0.5px 1px; 
}
#ched{
    font-size:x-large;
    text-shadow:yellow 0.5px 1px;
}
#bbq{
    font-size:x-large;
    text-shadow:purple 0.5px 1px;
}
#winner{
    width:63.5%;
    height:auto;
    float:left;
    border-style:solid;
    border-color:black;
    border-width:5px;
}
.abo{
    font-size:large;
    margin-top:20px;
    text-shadow:red 0.2px 0.5px;
    margin-right:10px;
    margin-left:10px;
}
#abou{
    margin-top:20px;
    text-align:center;
    text-shadow:red 0.2px 0.5px;
}